<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/adminHeader.ejs') %>
<body>
    <div class="adminContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <div class="right-1">
                    <a href="/admin">DASHBOARD</a>
                    <a href="/adminFeeds">FEEDS</a>
                    <a href="">DRUGS</a>
                    <a href="">FARM MACHINERY</a>
                    <a href="">SEEDS</a>
            </div>
            <div class="right-2">
                <button onclick="right_1Showing()" id="openTab"><i class="fa-solid fa-bars"></i></button>
                <button onclick="right_1Notshowing()" id="closeTab"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="body-top">
                <div class="admin-message">
                    <h1>ADMIN DASHBOARD</h1>
                </div>
            </div>
            <div class="body-content">
                <div class="content">
                    <div class="content-body">
                            <img src="/HomepageImages/animal drugs.jpg" alt="">
                            <div>
                                <h2>ANIMAL DRUGS</h2>
                                <br>
                                <p>Total Drugs = <span><%=categoryCounts.Drugs || 0 %></span></p>
                                <p>Total purchased = <span></span></p>
                                <p>Running out of stock = <span></span></p>

                            </div>
                    </div>
                    <div class="content-body">
                        <img src="/HomepageImages/animal feeds.jpg" alt="">
                            <div>
                                <h2>ANIMAL FEEDS</h2>
                                <br>
                                <p>Total Feeds = <span><%=categoryCounts.Feeds || 0 %></span></p>
                                <p>Total purchased = <span></span></p>
                                <p>Running out of stock = <span></span></p>

                            </div>
                    </div>
                    <div class="content-body">
                        <img src="/HomepageImages/Farm machinery.jpg" alt="">
                            <div>
                                <h2>FARM MACHINERY</h2>
                                <br>
                                <p>Total Machinery = <span><%=categoryCounts.Machinery || 0%></span></p>
                                <p>Total purchased = <span></span></p>
                                <p>Running out of stock = <span></span></p>

                            </div>
                    </div>
                    <div class="content-body">
                        <img src="/HomepageImages/seeds.jpg" alt="">
                            <div>
                                <h2>SEEDS</h2>
                                <br>
                                <p>Total Seeds = <span><%=categoryCounts.Seeds || 0%></span></p>
                                <p>Total purchased = <span></span></p>
                                <p>Running out of stock = <span></span></p>

                            </div>
                    </div>
    
                  
                </div>
            </div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>