<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/adminHeader.ejs') %>
<body>
    <div class="adminDrugsContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <div class="right-1">
                    <a href="/admin">DASHBOARD</a>
                    <a href="/adminFeeds">FEEDS</a>
                    <a href="/adminDrugs">DRUGS</a>
                    <a href="/adminMachinery">FARM MACHINERY</a>
                    <a href="/adminSeeds">SEEDS</a>
            </div>
            <div class="right-2">
                <button onclick="showRight1tab()" id="openTab"><i class="fa-solid fa-bars"></i></button>
                <button onclick="closeRight1tab()" id="closeTab"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="body-top">
                <div class="adminDrugs-message">
                    <h1>ADMIN DRUGS</h1>
                    <%if(successMessage.length>0){ %>
                        <div class="alert alert-success">
                            <%=successMessage %>
                        </div>
                    <% } %>
                    <%if(errorMessage.length>0){ %>
                        <div class="alert alert-danger">
                            <%=errorMessage %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="body-content">
                <div class="body-contentTop">
                    <div>
                        <button onclick="showAddDrug()"><h3>ADD DRUG</h3></button>
                        <h3>HISTORY</h3>
                    </div>
                    <form action="" method="">
                        <input type="text" name="query" placeholder="Search for products">
                        <button type="submit">Search</button>
                    </form>
                    <div class="addDrug">
                        <p><button id="close"><i class="fa-solid fa-x"></i></button></p>
                        <div>
                            <form action="/addDrug" method="post" enctype="multipart/form-data">
                                <label for="image">DRUG IMAGE</label><br>
                                <input type="file" id="productImage" name="productImage"><br>

                                <label for="name">DRUG NAME</label><br>
                                <input type="text" id="productName" name="productName"><br>

                                <label for="price">DRUG PRICE</label><br>
                                <input type="text" id="productPrice" name="productPrice"><br>

                                <label for="quantity">DRUG QUANTITY</label><br>
                                <input type="text" id="productQuantity" name="productQuantity"><br>

                                <input type="hidden" id="productCategory" name="productCategory" value="Drugs">

                                <div class="button">
                                    <button type="submit">ADD PRODUCT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="body-contentBody">
                    <table>
                        <tr>
                            <th>IMAGE</th>
                            <th>NAME</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>ACTION</th>
                        </tr>
                       <% Drugs.forEach((Drug)=>{ %>
                        <tr>
                            <td><img src="data:image/png;base64,<%=Drug.productImage%>" alt=""></td>
                            <td><%=Drug.productName %></td>
                            <td><%=Drug.productPrice %></td>
                            <td><%=Drug.productQuantity %></td>
                            <td>
                                <button onclick="showDetails('<%=Drug._id %>')">EDIT</button>
                                <div class="productDetail" id="detail-<%=Drug._id %>">
                                    <p><button id="close"><i class="fa-solid fa-x"></i></button></p>
                                    <div>
                                        <form action="/drugs/<%=Drug._id %>/edit" method="post" enctype="multipart/form-data">
                                            <label for="image">FEED IMAGE</label><br>
                                            <input type="file" id="image" name="productImage" value="<%=Drug.productImage %>"><br>
        
                                            <label for="name">FEED NAME</label><br>
                                            <input type="text" id="name" name="productName" value="<%=Drug.productName %>"><br>
        
                                            <label for="price">FEED PRICE</label><br>
                                            <input type="text" id="price" name="productPrice" value="<%=Drug.productPrice %>"><br>
        
                                            <label for="quantity">FEED QUANTITY</label><br>
                                            <input type="text" id="quantity" name="productQuantity" value="<%=Drug.productQuantity %>"><br>


                                            <div class="button">
                                                <button type="submit">EDIT PRODUCT</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button onclick="confirmDeleteDrug('<%=Drug._id %>')">DELETE</button>
                            </td>
                        </tr>
               
                        <% }) %>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>