<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/adminHeader.ejs') %>
<body>
    <div class="adminMachineriesContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <div class="right-1">
                    <a href="/admin">DASHBOARD</a>
                    <a href="/adminFeeds">FEEDS</a>
                    <a href="/adminDrugs">DRUGS</a>
                    <a href="/adminMachinery">FARM MACHINERY</a>
                    <a href="/adminSeeds">SEEDS</a>
            </div>
            <div class="right-2">
                <button onclick="showadminMachineryRight1tab()" id="openTab"><i class="fa-solid fa-bars"></i></button>
                <button onclick="closeadminMachineryRight1tab()" id="closeTab"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="body-top">
                <div class="adminMachineries-message">
                    <h1>ADMIN MACHINERY</h1>
                    <%if(successMessage.length>0){ %>
                        <div class="alert alert-success">
                            <%=successMessage %>
                        </div>
                    <% } %>
                    <%if(errorMessage.length>0){ %>
                        <div class="alert alert-danger">
                            <%=errorMessage %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="body-content">
                <div class="body-contentTop">
                    <div>
                        <button onclick="showAddMachinery()"><h3>ADD MACHINERY</h3></button>
                        <h3>HISTORY</h3>
                    </div>
                    <form action="" method="">
                        <input type="text" name="query" placeholder="Search for products">
                        <button type="submit">Search</button>
                    </form>
                    <div class="addMachinery">
                        <p><button id="close"><i class="fa-solid fa-x"></i></button></p>
                        <div>
                            <form action="/addMachinery" method="post" enctype="multipart/form-data">
                                <label for="image">MACHINERY IMAGE</label><br>
                                <input type="file" id="productImage" name="productImage"><br>

                                <label for="name">MACHINERY NAME</label><br>
                                <input type="text" id="productName" name="productName"><br>

                                <label for="price">MACHINERY PRICE</label><br>
                                <input type="text" id="productPrice" name="productPrice"><br>

                                <label for="quantity">MACHINERY QUANTITY</label><br>
                                <input type="text" id="productQuantity" name="productQuantity"><br>

                                <input type="hidden" id="productCategory" name="productCategory" value="Machinery">

                                <div class="button">
                                    <button type="submit">ADD PRODUCT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="body-contentBody">
                    <table>
                        <tr>
                            <th>IMAGE</th>
                            <th>NAME</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>ACTION</th>
                        </tr>
                       <% Machineries.forEach((Machinery)=>{ %>
                        <tr>
                            <td><img src="data:image/png;base64,<%=Machinery.productImage%>" alt=""></td>
                            <td><%=Machinery.productName %></td>
                            <td><%=Machinery.productPrice %></td>
                            <td><%=Machinery.productQuantity %></td>
                            <td>
                                <button onclick="showDetails('<%=Machinery._id %>')">EDIT</button>
                                <div class="productDetail" id="detail-<%=Machinery._id %>">
                                    <p><button id="close"><i class="fa-solid fa-x"></i></button></p>
                                    <div>
                                        <form action="/machineries/<%=Machinery._id %>/edit" method="post" enctype="multipart/form-data">
                                            <label for="image">MACHINERY IMAGE</label><br>
                                            <input type="file" id="image" name="productImage" value="<%=Machinery.productImage %>"><br>
        
                                            <label for="name">MACHINERY NAME</label><br>
                                            <input type="text" id="name" name="productName" value="<%=Machinery.productName %>"><br>
        
                                            <label for="price">MACHINERY PRICE</label><br>
                                            <input type="text" id="price" name="productPrice" value="<%=Machinery.productPrice %>"><br>
        
                                            <label for="quantity">MACHINERY QUANTITY</label><br>
                                            <input type="text" id="quantity" name="productQuantity" value="<%=Machinery.productQuantity %>"><br>


                                            <div class="button">
                                                <button type="submit">EDIT PRODUCT</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button onclick="confirmDeleteMachinery('<%=Machinery._id %>')">DELETE</button>
                            </td>
                        </tr>
               
                        <% }) %>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>