<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/adminHeader.ejs') %>
<body>
    <div class="adminFeedsContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <div class="right-1">
                    <a href="">DASHBOARD</a>
                    <a href="">FEEDS</a>
                    <a href="">DRUGS</a>
                    <a href="">FARM MACHINERY</a>
                    <a href="">SEEDS</a>
            </div>
            <div class="right-2">
                <button onclick="ri_ght1Showing()" id="openTab"><i class="fa-solid fa-bars"></i></button>
                <button onclick="ri_ght1Notshowing()" id="closeTab"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="body-top">
                <div class="adminFeeds-message">
                    <h1>ADMIN FEEDS</h1>
                    <%if(successMessage.length>0){ %>
                        <div class="alert alert-success">
                            <%=successMessage %>
                        </div>
                    <% } %>
                    <%if(errorMessage.length>0){ %>
                        <div class="alert alert-danger">
                            <%=errorMessage %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="body-content">
                <div class="body-contentTop">
                    <div>
                        <button onclick="showAddFeed()"><h3>ADD FEED</h3></button>
                        <h3>HISTORY</h3>
                    </div>
                    <form action="">
                        <input type="text" name="query" placeholder="Search for products">
                        <button type="submit">Search</button>
                    </form>
                    <div class="addFeed">
                        <p><button id="close"><i class="fa-solid fa-x"></i></button></p>
                        <div>
                            <form action="/addProduct" method="post" enctype="multipart/form-data">
                                <label for="image">FEED IMAGE</label><br>
                                <input type="file" id="productImage" name="productImage"><br>

                                <label for="name">FEED NAME</label><br>
                                <input type="text" id="productName" name="productName"><br>

                                <label for="price">FEED PRICE</label><br>
                                <input type="text" id="productPrice" name="productPrice"><br>

                                <label for="quantity">FEED QUANTITY</label><br>
                                <input type="text" id="productQuantity" name="productQuantity"><br>

                                <input type="hidden" id="productCategory" name="productCategory" value="Feeds">

                                <div class="button">
                                    <button type="submit">ADD PRODUCT</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="body-contentBody">
                    <table>
                        <tr>
                            <th>IMAGE</th>
                            <th>NAME</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>ACTION</th>
                        </tr>
                       <% Feeds.forEach((Feed)=>{ %>
                        <tr>
                            <td><img src="data:image/png;base64,<%=Feed.productImage%>" alt=""></td>
                            <td><%=Feed.productName %></td>
                            <td><%=Feed.productPrice %></td>
                            <td><%=Feed.productQuantity %></td>
                            <td>
                                <button onclick="showDetails('<%=Feed._id %>')">EDIT</button>
                                <div class="productDetail" id="detail-<%=Feed._id %>">
                                    <p><button id="close"><i class="fa-solid fa-x"></i></button></p>
                                    <div>
                                        <form action="/products/<%=Feed._id %>/edit" method="post" enctype="multipart/form-data">
                                            <label for="image">FEED IMAGE</label><br>
                                            <input type="file" id="image" name="productImage" value="<%=Feed.productImage %>"><br>
        
                                            <label for="name">FEED NAME</label><br>
                                            <input type="text" id="name" name="productName" value="<%=Feed.productName %>"><br>
        
                                            <label for="price">FEED PRICE</label><br>
                                            <input type="text" id="price" name="productPrice" value="<%=Feed.productPrice %>"><br>
        
                                            <label for="quantity">FEED QUANTITY</label><br>
                                            <input type="text" id="quantity" name="productQuantity" value="<%=Feed.productQuantity %>"><br>


                                            <div class="button">
                                                <button type="submit">EDIT PRODUCT</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button onclick="confirmDelete('<%=Feed._id %>')">DELETE</button>
                            </td>
                        </tr>
               
                        <% }) %>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>