<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/adminHeader.ejs') %>
<body>
    <div class="adminFeedsContainer">
        <div class="top">
            <div class="left">
                <img src="/HomepageImages/Green Plant and Agriculture Logo.png" alt="">
            </div>
            <div class="right-1">
                    <a href="">DASHBOARD</a>
                    <a href="">FEEDS</a>
                    <a href="">DRUGS</a>
                    <a href="">FARM MACHINERY</a>
                    <a href="">SEEDS</a>
            </div>
            <div class="right-2">
                <button onclick="ri_ght1Showing()" id="openTab"><i class="fa-solid fa-bars"></i></button>
                <button onclick="ri_ght1Notshowing()" id="closeTab"><i class="fa-solid fa-x"></i></button>
            </div>
        </div>
        <div class="body">
            <div class="body-top">
                <div class="adminFeeds-message">
                    <h1>ADMIN FEEDS</h1>
                </div>
            </div>
            <div class="body-content">
                <div class="body-contentTop">
                    <div>
                        <h3>ADD FEED</h3>
                        <h3>HISTORY</h3>
                    </div>
                    <form action="">
                        <input type="text" name="query" placeholder="Search for products">
                        <button type="submit">Search</button>
                    </form>
                </div>
                <div class="body-contentBody">
                    <table>
                        <tr>
                            <th>IMAGE</th>
                            <th>NAME</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>ACTION</th>
                        </tr>
                       <% Feeds.forEach((Feed)=>{ %>
                        <tr>
                            <td><img src="data:image/png;base64,<%=Feed.productImage%>" alt=""></td>
                            <td><%=Feed.productName %></td>
                            <td><%=Feed.productPrice %></td>
                            <td><%=Feed.productQuantity %></td>
                            <td>
                                <button onclick="showDetails('<%=Feed._id %>')">EDIT</button>
                                <div class="productDetail" id="detail-<%=Feed._id %>">
                                    <p><button id="close"><i class="fa-solid fa-x"></i></button></p>
                                    <div>
                                        <form action="">
                                            <label for="image-<%=Feed._id %>">FEED IMAGE</label><br>
                                            <input type="file" id="image-<%=Feed._id %>" name="image-<%=Feed._id %>" value="<%=Feed.productImage %>"><br>
        
                                            <label for="name-<%=Feed._id %>">FEED NAME</label><br>
                                            <input type="text" id="name-<%=Feed._id %>" name="name-<%=Feed._id %>" value="<%=Feed.productName %>"><br>
        
                                            <label for="price-<%=Feed._id %>">FEED PRICE</label><br>
                                            <input type="text" id="price-<%=Feed._id %>" name="price-<%=Feed._id %>" value="<%=Feed.productPrice %>"><br>
        
                                            <label for="quantity-<%=Feed._id %>">FEED QUANTITY</label><br>
                                            <input type="text" id="quantity-<%=Feed._id %>" name="quantity-<%=Feed._id %>" value="<%=Feed.productQuantity %>"><br>

                                            <div class="button">
                                                <button>EDIT PRODUCT</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <button>DELETE</button>
                            </td>
                        </tr>
               
                        <% }) %>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="Vanilla.js"></script>
</body>
</html>